# dependencies
node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# runtime env
.env*
*.local

# coverage / test artifacts
coverage
*.lcov

# system files
.DS_Store
Thumbs.db

# build outputs
dist/
build/

# lockfiles
yarn.lock
pnpm-lock.yaml

# certificates
*.pem
!mock-cert.pem
*.pem.b64

# secrets
secrets*.json
.cfvars.yml
manifest.yaml
